@import "color.scss";
@import "font.scss";

.button {
  max-width: 207px;
  max-height: 52px;
  background: $colorTitle;
  border-radius: 100px;
  padding: 15px 45px;
}

.button__text {
  font-family: $fontHeader;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: $colorButtonText;
}