$colorTitle: #F1CDB3;
$colorText:  #FFFFFF;
$colorButtonText: #292929;
$colorTextStart: #CDCDCD;
$colorTitleAbout: #545454;
$colorTextAbout:  #4C4C4C;
$colorTextDonate: #B2B2B2;
$background:  #F6F6F6;