* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}


h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  font-weight: 400;
}

@import "font.scss";
@import "color.scss";
@import "button.scss";

body {
  font-family: Arial, sans-serif;
  font-style: normal;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  margin-bottom: -120px;
  padding-top: 60px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: $fontHeader;
    font-size: 32px;
    line-height: 110%;
    color: $colorTitle;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 13px;
    line-height: 15px;
    color: $colorText;
  }

  &__nav {
    display: flex;
    gap: 35px;
    font-size: 15px;
    line-height: 160%;
    color: $colorText;

    & li:first-child {
      border-bottom: 3px solid $colorTitle;
    }

    & li:hover {
      border-bottom: 3px solid $colorTitle;
    }
  }
}

.start {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

  &__wrapper {
    display: flex;
    padding-top: 180px;
  }

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-family: $fontHeader;
    font-size: 44px;
    color: $colorText;
  }

  &__text {
    padding: 42px 0;
    font-size: 15px;
    line-height: 160%;
    color: $colorTextStart;
  }
}

.about {
  padding: 80px 0 100px;

  &__wrapper {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
  }

  &__information {
    flex-basis: 430px;
  }

  &__title {
    font-family: $fontHeader;
    line-height: 130%;
    font-size: 35px;
    color: $colorTitleAbout;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 15px;
    line-height: 160%;
    color:$colorTextAbout;
    padding-top: 25px;
  }
}

.help {
  padding: 80px 0 100px;

  &__title {
    font-size: 35px;
    line-height: 130%;
    font-family: $fontHeader;
    color: $colorTitleAbout;
    text-align: center;
    padding-bottom: 60px;
  }

  &__information {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
  }

  &__item-img {
    padding-bottom: 30px;
  }
}

.donation {
  padding: 80px 0 100px;
  background: $background;

  &__wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;;
  }

  &__information {
    flex-basis: 430px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-family: $fontHeader;
    font-size: 35px;
    line-height: 130%;
    color: $colorTitleAbout;
  }

  &__subtitle {
    font-size: 15px;
    line-height: 110%;
    color: $colorTitleAbout;
  }

  &__text {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $colorTextDonate;
  }

  &__button {
    max-width: 349px;
    font-size: 13px;
    padding: 12px 2px;
  }

}

.footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  padding-top: 40px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 160px;
  }
}

@media (max-width: 1220px) {
  .wrapper {
    max-width: 900px;
  }

  .start {

    &__wrapper {
    max-width: 569px;
    flex-direction: column;
    gap: 100px;
  }

   &__button {
     align-self: center;
   }
}

  .about {

    &__wrapper {
      flex-direction: column-reverse;
      gap: 80px;
    }

    &__information {
      flex-basis: 230px;
    }
  }

  .help {
    &__information {
      gap: 60px;
    }
  }

  .donation {

    &__wrapper {
      flex-direction: column-reverse;
    }

    &__information {
      flex-basis: 230px;
      align-items: center;
      max-width: 380px;
    }


  }

  .footer {

    &__wrapper {
      gap: 60px;
    }

    &__image {
      align-self: center;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 608px;
  }

  .header__nav {
    display: none;
  }

  .help {

    &__title {
      font-size: 25px;
      padding-bottom: 42px;
    }
  }

}

@media (max-width: 320px) {
  .wrapper {
    max-width: 257px;
  }

  .start__title {
    font-size: 25px;

    &__button {
      padding-bottom: 64px;
    }
  }

  .about {
    padding: 42px 0;
    gap: 40px;

    &__title {
      font-size: 25px;
    }

    &__text {
      font-size: 15px;
      padding-top: 22px;
    }
  }

  .help {

    &__information {
      gap: 30px;
    }

    &__item-img {
      padding-bottom: 20px;
    }
  }

  .donation {
    padding: 42px;
    gap: 42px;

    &__title {
      font-size: 25px;
    }

    &__subtitle {
      line-height: 160%;
    }
  }
}